*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
  --green1: #CFFF9E;
  --green2: #78B739;
  --green3: #416B16;
  --green4: #1D300A;
  --purple1: #AF39B8;
  --purple2:#650C6B;
  --grey1: #DADDD8;
  --grey2: #797F76;
  --transparent-light-color: rgba(255,255,255,.05);
  --transparent-dark-color: rgba(0,0,0,.75);
  --font-family: 'Josefin Sans', sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 5rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}
body{
  padding-top: 10rem;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--green4);
  background-color: rgb(30, 49, 31);
  background-image: url(../img/fondo2.jpg);
  background-size:contain;
  background-blend-mode: multiply;
  letter-spacing: 1px;
  transition: background-color .25s,color .25s;
}
a{
  color: inherit;
  text-decoration: none;
}
img{
  max-width: 100%;
  display: block;
}
ul{
  list-style: none;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.container{
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  object-fit: cover;
}
.header{
  background-color: var(--grey1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  margin-bottom: 10px;
}
.navbar{
  font-size: var(--font-size-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}
.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}
.logo{
  width: 5rem;
}
.list-link:hover{
  color: var(--purple2);
  font-size: 115%;
}
.img-gallery{
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}
.img-gallery img{
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
}
.img-gallery img:hover{
  transform: scale(1.05);
}
.full-img{
  width:100%;
  height: 100vh;
  background: rgba(206, 206, 206, 0.9);
  position:fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.full-img img{
  max-height: 70%;
  
}
.full-img span{
  position: absolute;
  top: 8%;
  right: 2%;
  font-size: 30px;
  color: var(--green4);
  cursor: pointer;
}
p{
  
  color: var(--green1);
}
.section-title{
  font-size: var(--font-size-xl);
  background-color: rgba(206, 206, 206, 0.2);
  width: 100%;
  padding-block: 1.5rem;
}
.section-content{
  font-size: var(--font-size-md);
  color: #650C6B;
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
}